data/
code/analysing_predictions/api_key.txt
code/analysing_predictions/ReviewsTranslation-feb05629559c.json
code/analysing_predictions/Translate reviews - don't run, too expensive.ipynb
code/analysing_predictions/.ipynb_checkpoints/Translate reviews - don't run, too expensive-checkpoint.ipynb
code/analysing_predictions/.ipynb_checkpoints/
*/.ipynb_checkpoints/
code/analysing_features/udpos/.ipynb_checkpoints/
code/analysing_predictions/train-fr.tsv
code/analysing_predictions/train-de.tsv
*.jpg
code/analysing_features/ner/.ipynb_checkpoints/
code/analysing_features/xnli/.ipynb_checkpoints/
code/analysing_predictions/udpos/dev_sets/
code/analysing_predictions/udpos/results/
*/.ipynb_checkpoints/*
code/analysing_predictions/udpos/.ipynb_checkpoints/
code/analysing_predictions/udpos/train-de.tsv
code/analysing_features/.ipynb_checkpoints/
code/analysing_predictions/panx/.ipynb_checkpoints/
*.pyc
code/analysing_predictions/xnli/.ipynb_checkpoints/
code/analysing_predictions/panx/dev_sets/
code/analysing_predictions/panx/results/
code/analysing_predictions/xnli/dev_sets/
code/analysing_predictions/xnli/results/
