data/
code/analysing_predictions/api_key.txt
code/analysing_predictions/ReviewsTranslation-feb05629559c.json
code/analysing_predictions/Translate reviews - don't run, too expensive.ipynb
code/analysing_predictions/.ipynb_checkpoints/Translate reviews - don't run, too expensive-checkpoint.ipynb
code/analysing_predictions/.ipynb_checkpoints/
*/.ipynb_checkpoints/
code/analysing_features/udpos/.ipynb_checkpoints/
code/analysing_predictions/train-fr.tsv
code/analysing_predictions/train-de.tsv
*.jpg
code/analysing_features/ner/.ipynb_checkpoints/
